@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

main{
    height: 100vh;
    position: relative;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 472px;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;

    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    border-radius: 50%;
    margin: 25px 50px 25px 50px;
    width: 70px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.425);
}

section#redes-sociais img:hover {
    border-radius: 40px;
    box-sizing: border-box;
    border: 5px solid white;
    transition-duration: 0.35s;
}
